<footer.site-footer class=input.class>
    <span><img src="./ebay.svg"/> open source</span>
    <div.copyright>
        Copyright &copy; ${new Date().getFullYear()} eBay Inc.
        &mdash; <a href="https://github.com/marko-js/marko/blob/master/LICENSE">The MIT License</a>
    </div>
</footer>