<footer.site-footer>
    <span><img src="./ebay.png"/> open source</span>
    <div.copyright>
        Copyright &copy; ${new Date().getFullYear()} eBay Inc.
        &mdash; <a href="https://opensource.org/licenses/MIT">The MIT License</a>
    </div>
</footer>