.site-footer {
    background:#f8f8f8;
    width:100%;
    color:#888;
    padding:2em;
    border-top:1px solid #ddd;
}

.site-footer span {
    font-size:1.3em;
}

.site-footer span img {
    height:1em;
    margin-bottom:-0.2em;
}

.site-footer copyright {
    color:#999;
    font-size:0.8em;
}