.pane {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    width: 100%;
}

.pane > div.tabs {
    flex-basis: 2em;
    flex-shrink: 0;
    z-index: 10;
    position: relative;
}

.pane > .bodies {
    flex-grow: 1;
    flex-shrink: 0;
    /*flex-basis: 400px;*/
    position: relative;
    /*height: 500px;*/
    background-color: #282c34;
    border: 1px solid #16191d;
    margin-top: -1px;
    z-index: 9;
}

.pane .pane-body {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.pane .pane-body.active {
    visibility: visible;
}

.pane ul.tabs {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    list-style: none;
}
