.pane {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pane > div.tabs {
    height: 2em;
    flex-basis: auto;
    z-index: 10;
    position: relative;
}

.pane > .bodies {
    flex-grow: 1;
    position: relative;
    background-color: #282c34;
    border: 1px solid #16191d;
    margin-top: -1px;
    z-index: 9;
}

.pane .pane-body {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.pane .pane-body.active {
    visibility: visible;
}

.pane ul.tabs {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.pane li.tab {
    position: relative;
    background-color: #21252b;
    top: 0;
    max-width: 22em;
    min-width: 7em;
    height: 2em;
    font-size: inherit;
    color: rgba(157, 165, 180, 0.6);
    line-height: 2em;
    text-align: center;
    margin: 0;
    background-clip: content-box;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border: 1px solid transparent;
    cursor:default;
    user-select:none;
}

.pane li.tab.active {
    background-color: #282c34;
    background-image: linear-gradient(to bottom, #383c44 0%, #282c34 8%);
    border: 1px solid #16191d;
    border-bottom: 1px solid #282c34;
}

.pane li.tab.focused {
    background-image: linear-gradient(to bottom, #484c54 0%, #282c34 8%);
    color: #d7dae0;
}

.pane .tab-label {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.8em;
}