<header.home-syntax style={ background:data.background }>
    <h1>
        Marko makes building<br>
        user interfaces simple
    </h1>
</header>

<style>
    .home-syntax {
        background-color:#d04;
        width:100%;
        padding:8em 0;
    }

    .home-syntax h1 {
        text-align:center;
        margin:0;
        padding:0;
        color:#fff;
    }
</style>