class {
    showOverlay() {
        this.getComponent('myOverlay').show();
    }
}

<overlay key="myOverlay">
    This is my awesome overlay
</overlay>

<div>
    <button type="button" on-click('showOverlay')>
        Show Overlay
    </button>
</div>
