.pane .tab .configure .icon {
    display: inline-block;
    background-image: url('./configure.svg');
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    line-height: 2em;
    vertical-align: middle;
    margin-bottom: -2px;
    opacity: 0.6;
    cursor: pointer;
}

.pane li.tab {
    position: relative;
    background-color: #21252b;
    top: 0;
    max-width: 22em;
    min-width: 7em;
    height: 2em;
    font-size: inherit;
    color: rgba(157, 165, 180, 0.6);
    line-height: 2em;
    text-align: center;
    margin: 0;
    background-clip: content-box;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border: 1px solid transparent;
    border-left: 2px solid transparent;
    cursor: pointer;
    user-select:none;
    white-space: nowrap;
}

.pane li.tab.active {
    background-color: #282c34;
    background-image: linear-gradient(to bottom, #383c44 0%, #282c34 8%);
    border: 1px solid #16191d;
    border-bottom: 1px solid #282c34;
    border-left: 2px solid #598cef;
}

.pane li.tab.focused.active {
    /*background-image: linear-gradient(to bottom, #484c54 0%, #282c34 8%);*/
    color: #d7dae0;
}

.pane .tab-label {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.75em;
}

.pane .output-mode {
    padding-left: 4px;
    font-size: 0.8em;
}

.pane .tab .menu {
    visibility: hidden;
    background-color: #ececec;
    display: inline-block;
    position: absolute;
    margin-top: 1.5em;
    transform: translateX(-50%);
    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    z-index: 200;
}

.pane .tab .menu.visible {
    visibility: visible;
}

.pane .tab .menu ul {
    list-style: none;
    padding: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.pane .tab .menu li {
    color: black;
    text-align: left;
}

.pane .tab .menu li a {
    display: block;
    font-size: .8em;
    line-height: 1.8em;
    color: black;
    white-space: nowrap;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
}

.pane .tab .menu li a:hover {
    background-color: #2182c5;
    color: white;
}
