
.tree-view .dir > label {
    position: relative;
}

.tree-view .dir > ul {
    display: none;
}

.tree-view .dir.expanded > ul {
    display: block;
}

.tree-view .dir > label:before {
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background-image: url('octicons/build/svg/chevron-up.svg');
    background-size: contain;
    filter: invert(1) brightness(.6);
    content: '';
    background-repeat: no-repeat;
    position: relative;
}

.tree-view .dir.expanded > label:before {
    background-image: url('octicons/build/svg/chevron-down.svg');
}