$ var stack = input.error.stack;

<div.preview-errors>
    <header>
        Unable to render ${input.file.path}:
    </header>
    <pre>${stack ? stack.toString() : input.error.toString()}</pre>
</div>
