.preview-errors {
    color: #ffffcc;
    font-family: Monaco,Menlo,Consolas,monospace;
    font-size: 0.7em;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding: 1em;
    font-weight: lighter;
}

.preview-errors header {
    color: white;
    margin-bottom: 1em;
    font-weight: bold;
}
