<site-layout title="Docs" class="docs" doc=input.name toc=input.toc footer=false>
    <div.doc-layout>
        <div.doc-container>
            <div.doc-content>
                <include(input.doc)/>
                <edit-on-github name=input.name/>
                <site-footer/>
            </div>
        </div>
    </div>
</site-layout>
