<site-layout title="Docs" footer=false>
    <div.doc-layout>
        <doc-sidebar name=input.name docs=input.docs toc=input.toc />
        <div.doc-container>
            <div.doc-content>
                <include(input.doc)/>
                <site-footer/>
            </div>
        </div>
    </div>
</site-layout>
