.doc-content {
    display:block;
    width:100%;
    max-width:45em;
    text-align:left;
}

.doc-layout {
    flex-direction:row;
    width:100%;
    padding:2em;
}

.doc-container {
    flex:1;
    /*align-items: center;*/
    width:100%;
}

.doc-container h1:first-child {
    padding-top:0;
}
