.doc-content {
    display:block;
    width:100%;
    max-width:45em;
    text-align:left;
}

.doc-layout {
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    width:100%;
    padding:2em;
}

.doc-container {
    flex:1;
    width:100%;
}

.doc-sidebar {
    text-align:left;
    list-style-type:none;
    padding:0;
}

@media (max-width:45em) {
    .doc-sidebar {
        display: none;
    }
}