.doc-content {
    display:block;
    width:100%;
    max-width:60em;
    padding-left:16em;
    text-align:left;
    position: relative;
}

@media (max-width:45em) {
    .doc-content {
        padding-left:0;
    }
}

.doc-content > * {
    margin-bottom: 1.25rem;
}
.doc-content > h1,
.doc-content > h2,
.doc-content > h3,
.doc-content > h4,
.doc-content > h5,
.doc-content > h6 {
    padding-top:1.25rem;
}
.doc-content > h1:first-child {
    padding-top:0;
}

.doc-content > h1,
.doc-content > h2 {
  border-bottom:1px solid #f2f4f6;
}

.doc-layout {
    flex-direction:row;
    width:100%;
    padding:2em;
}

.doc-container {
    flex:1;
    /*align-items: center;*/
    width:100%;
}


.doc-content .doc-footer {
    border:1px solid #dbdddf;
    border-radius: 0.2rem;
}

@media (max-width:45em) {
  .doc-content .doc-footer {
      border:0;
      border-top:1px solid #dbdddf;
      margin: -2em;
      margin-top:0;
      width:auto;
      border-radius: 0;
  }
}

table.markdown-table {
    border-collapse: separate;
    border-spacing: 0;
    font-size:0.85em;
}

table.markdown-table th,
table.markdown-table td {
    padding:0.5em 1em;
}

/*
table.markdown-table tbody tr:nth-child(even) {
  background: #f6f8fa;
}

table.markdown-table tbody tr:nth-child(even) code {
  background: #ebedef;
}
*/

table.markdown-table thead {
  background: #09c;
  color: #fff;
}

table.markdown-table th {
  font-weight: 600;
}

table.markdown-table td {
  border-bottom: 1px solid #dbdddf;
  border-right: 1px solid #dbdddf;
}

table.markdown-table td:first-child {
  border-left: 1px solid #dbdddf;
}