<header.site-header>
    <a href="/">
        <img.site-logo src="./logo-header.png"/>
    </a>
    <div.stuff>
        <site-menu/>
        <button.menu on-click('emit', 'toggle-menu')>&#9776;</button>
    </div>
</header>