<site-layout class="home">
    <home-hero/>
    <animation-toggle/>
    <home-features/>
    <home-syntax background="#09d" />
    <home-syntax background="#7d0" />
    <home-syntax background="#ffc400" />
    <home-syntax />
    <benchmarks/>
</site-layout>
