<site-layout class="home">
    <home-hero/>
    <home-features/>
    <home-components/>
    <home-syntax/>
    <home-animation/>
    <home-tooling/>
    <!--<home-syntax background="#7d0" />-->
    <!--<home-syntax />-->
    <benchmarks/>
</site-layout>
