class {
    onCreate() {
        this.state = { show:false, x:0, y:0 };
    }
    toggle(e) {
        this.state.x = e.clientX;
        this.state.y = e.clientY;
        this.state.show = !this.state.show;
    }
}
<div>
    <button on-click('toggle')>
        <if(state.show)>Hide animation</if>
        <else>Show animation</else>
    </button>
    <mouse-animation x=state.x y=state.y if(state.show)/>
</div>
