<div.marko-code-block>
    <button.switch-syntax on-click('changeSyntax')>
        switch syntax
    </button>
    <div.code.html>
        $!{data.html}
    </div>
    <div.code.concise>
        $!{data.concise}
    </div>
</div>
