<form.site-search class=input.class on-click('focus') on-submit('search')>
    <img src="./search.png"/>
    <input key="input" type="search" placeholder="search the docs..." on-blur('shrink') on-focus('grow')/>
</form>
