<div.home-animation>
    <h1>Silky <strong>smooth</strong></h1>
    <p>Fast enough to power animations at 60FPS</p>
    <sine-wave/>
</div>

style {
    .home-animation {
        text-align:center;
        width:100%;
        padding:2em;
    }

    .home-animation p {
        margin-bottom:2em;
    }

    .home-animation h1 strong {
        color:#7d0;
        font-weight:600;
    }
}