.try-loader-container {
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    justify-content: center;
    align-items: center;
    width:100%;
    flex:1;
    justify-content: center;
    align-items: center;
    z-index:10;
}

.try-loader {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #d04;
    animation: spin 2s linear infinite;
}

.try-loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #09d;
    animation: spin 3s linear infinite;
}

.try-loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ffc400;
    animation: spin 1.5s linear infinite;
}

.try-loader .green-loader {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8d0;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}