import app from '~/routes/try-online/app';

static function isExpanded(file) {
    return file.name === 'components';
}

class {
}

<div.tree-view>
    <ul>
        <for(file in input.rootDir.sortedFiles)>
            <if(!app.isHiddenFile(file))>
                <tree-view-item file=file expanded=isExpanded(file)/>
            </if>
        </for>
    </ul>
</div>
