.tree-view {
    font-size: 14px;
    background-color: #21252b;
}

.tree-view li {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    line-height: 2em;
    color: #9da5b4;
}

.tree-view li.focused:before{
    content: '';
    background-color: #3a3f4b;
    position: absolute;
    left: 0;
    right: 0;
    height: 2em;
}

.tree-view li.focused > span{
    color: #d7dae0;
}

.tree-view ul {
    padding-left: 20px;
}