.tree-view {
    font-size: .8em;
    background-color: #21252b;
    user-select: none;
}

.tree-view li {
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    line-height: 1.7em;
    color: #9da5b4;
    cursor: default;
}

.tree-view li:hover,
.tree-view li.focused {
    color: #adb5c4;
}

.tree-view li:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1.7em;
}

.tree-view li.focused:before{
    background-color: #3a3f4b;
}

.tree-view li.focused > span{
    color: #d7dae0;
}

.tree-view ul {
    padding-left: 1.5em;
}