import todoApp from './app';

style {
    @import url('https://unpkg.com/todomvc-app-css@2.0.6/index.css');
}

class {
    onMount() {
        // Subscribe to the change state event. In response
        // to a state change event we will rerender the entire
        // app using the new state.
        this.subscribeTo(todoApp)
            .on('change', () => {
                this.forceUpdate();
            });
    }
}

<todomvc-app todos=todoApp.todos filter=todoApp.filter />