static var markoVersion = require('marko/package').version;

<select on-change('switchVersion')>
    <option value="current" selected>${markoVersion}</option>
    <option value="http://v3.markojs.com/docs/">3.x</option>
    <option value="http://marko-v2.github.io/docs/">2.x</option>
</select>