.editor-errors {
    color: #ffffcc;
    font-family: Monaco,Menlo,Consolas,monospace;
    font-size: 0.75em;
    padding: 1em;
    font-weight: lighter;
}

.editor-errors ul {
    list-style: none;
    padding: 0px;
}

.editor-errors li {

}

.editor-errors .loc {
    margin-left: 1em;
    white-space: nowrap;
}

.editor-errors header {
    color: white;
    margin-bottom: 1em;
    font-weight: bold;
}
