style {
    @import url('https://unpkg.com/todomvc-app-css@2.0.6/index.css');
}

<section.main>

    <ul.todo-list>
        <todomvc-todo-item title='Learn Marko' completed=false id=1/>
        <todomvc-todo-item title='Learn Marko' completed=true id=2/>
    </ul>

</section>
