.tree-view .file > span  {
    position: relative;
}

.tree-view .file > span:before {
    width: 20px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    background-image: url('./marko.svg');
    content: '';
    background-repeat: no-repeat;
    filter: invert(1) sepia(1) brightness(.6) saturate(8000%) hue-rotate(160deg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}