import app from '~/routes/try-online/app';

$ var focused = input.focused;
$ var active = input.active;
$ var file = input.file;
$ var outputMode = input.outputMode || 'preview';

<div.pane-body class=[focused && 'focused', active && 'active']>
    <if(file.output)>
        <preview file=file key='preview-${file.path}-${outputMode}' no-update output-mode=outputMode />
    </if>
    <else>
        <editor file=file key='editor-'+file.path no-update />
    </else>
</div>
