var isHtml = state.syntax === 'html';

<div.marko-code-block>
    <button.switch-syntax on-click('changeSyntax')>
        switch syntax
    </button>
    <div.code ref="html" style={ display:isHtml ? 'block' : 'none'}>
        $!{data.html}
    </div>
    <div.code ref="concise" style={ display:isHtml ? 'none' : 'block'}>
        $!{data.concise}
    </div>
</div>
