.too-small {
    background-color: #20252b;
    background-image: url('./screenshot.png');
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: block;
}


.too-small .overlay {
    padding: 1em;
    width: 300px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 6px;
}

.too-small .overlay h1 {
    font-size: 1.7em;
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 1em;
}

.too-small .overlay h2 {
    font-size: 1.2em;
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 1em;
}

.too-small .overlay h3 {
    font-size: 1em;
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 1em;
}

.too-small .overlay h4 {
    text-align: center;
}
