<!doctype html>
<html>
<head>
    <title>${data.title ? data.title + ' | Marko' : 'Marko'}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        var scalingBodyFont = false;

        function scaleBodyFont() {
            var height = Math.max(window.outerHeight, window.screen.height);
            document.documentElement.style.fontSize = Math.pow(Math.min(window.innerWidth, height), 0.25)*19+'%';
            scalingBodyFont = false;
        }

        window.addEventListener('resize', function() {
            requestAnimationFrame(scaleBodyFont);
        });

        scaleBodyFont();
    </script>
</head>
<body class=data.class>
    <site-header/>
    <doc-sidebar doc=input.doc toc=input.toc/>
    <div class="content">
        <include(data.renderBody)/>
    </div>
    <site-footer if(data.footer !== false)/>

    <google-analytics tracking-id="UA-66854919-1" domain="markojs.com"/>

    <script>
    ((window.gitter = {}).chat = {}).options = {
      room: 'marko-js/marko'
    };
    </script>
    <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer/>
</body>
</html>
