* {
    box-sizing: border-box;
}

html {
    height:100%;
    margin:0;
    padding: 0;
}
body {
    color:#37393b;
    margin:0;
    padding:0;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'SF UI Text', 'Helvetica Neue', 'Roboto', 'Arial Nova', 'Segoe UI', 'Arial', sans-serif;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:4.5em;
    line-height:1.6em;
}

h1, h2, h3, h4, h5, h6 {
    color:#191919;
    line-height:1.25em;
    margin-top:1.5rem;
    margin-bottom:1rem;
    padding:0;
}

h1 {
  font-size:2.6em;
  font-weight:400;
  border-bottom:1px solid #f2f4f6;
}

h2 {
  font-size:2.1em;
  font-weight:400;
  border-bottom:1px solid #f2f4f6;
}

h3 {
  font-size:1.8em;
  font-weight:400;
}

h4 {
  font-size:1.3em;
  font-weight:500;
}

h5 {
  font-size:1.1em;
  font-weight:600;
}

h6 {
  font-size:1.0em;
  font-weight:600;
}

a {
  color:#09d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
    border-left: 3px solid #dbdddf;
    margin: 0;
    margin-left: -3px;
    padding: 1em;
    background: #f6f8fa;
}

blockquote p:first-child {
  margin-top:0;
}

blockquote p:last-child {
  margin-bottom:0;
}

.anchor {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    text-align: center;
    margin-left: -1.1em;
    padding:0 0.3em;
    opacity:0;
    color:#eceef0;
}

.anchor:hover {
  color:#09d;
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    opacity:1;
}

.anchor .header-link {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 0.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
}

.anchor .header-link:before {
    content: "#";
    font-weight: 600;
}

pre, code {
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size:0.85em;
}

code {
  background:#f2f4f6;
  padding:0.1em 0.3em;
  border-radius:0.2em;
  color:#d04;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
    color:#57595a;
}

blockquote code {
    background:#fff;
}

pre {
  color:#dbdddf;
  background-color:#27292b;
  width:100%;
  padding:1em;
  border-radius:0.2em;
  overflow:auto;
}

pre .line {
  display: block;
}

.content {
    flex:1;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#fff;
    width:100%;
}

header, footer, section, div, nav {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}