* {
    box-sizing: border-box;
}

html {
    height:100%;
    margin:0;
    padding: 0;
}
body {
    color:#393939;
    margin:0;
    padding:0;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'SF UI Text', 'Helvetica Neue', 'Roboto', 'Arial Nova', 'Segoe UI', 'Arial', sans-serif;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5em;
    line-height:1.6em;
}

h1, h2, h3, h4, h5, h6 {
    color:#191919;
    line-height:1.25em;
    margin-top:1.5rem;
    margin-bottom:1rem;
    padding:0;
}

h1 {
  font-size:2.6em;
  font-weight:400;
  border-bottom:1px solid #f4f4f4;
}

h2 {
  font-size:2.1em;
  font-weight:400;
  border-bottom:1px solid #f4f4f4;
}

h3 {
  font-size:1.8em;
  font-weight:400;
}

h4 {
  font-size:1.3em;
  font-weight:500;
}

h5 {
  font-size:1.1em;
  font-weight:600;
}

h6 {
  font-size:1.0em;
  font-weight:600;
}

a {
  color:#09d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  font-family: Monaco, Menlo, Consolas, monospace;
  font-size:0.85em;
}

code {
  background:#f4f4f4;
  padding:0.1em 0.3em;
  border-radius:0.2em;
  color:#d04;
}

pre {
  color:#ddd;
  background-color:#292929;
  width:100%;
  padding:1em;
  border-radius:0.2em;
  overflow:auto;
}

pre .line {
  display: block;
}

.content {
    flex:1;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#fff;
    width:100%;
}

header, footer, section, div, nav {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}