var altTitle = 'I ❤ Marko';
var active = false;
var inputDisabled = true;

<img src="foo.png" alt=altTitle/>
<div class=(active ? "tab-active" : "tab-inactive")>Hello</div>
<div class=(active && "tab-active")>Hello</div>
<input type="checkbox" checked=true disabled=inputDisabled/>
